# dependencies
/node_modules
/backend/node_modules
package-lock.json

# dotenv environment variable file
.env

# build directory
/build
/backend/build

# super secret key :D
credentials.json

# yaml :-0

/backend/*.yaml