.login-box {
    text-align: center;
    border: 1px solid var(--mainColor);
    padding: 20px;
    background-color: var(--secondaryColor);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px; 
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

h2{
    font-size: 24px;
    font-weight: bold;
}

label {
    text-align: left;
    font-size: 18px;
}

input {
    margin: 0.5rem 0;
    height: 1.8rem;
    color: var(--textColor);
    font-size: 16px;
}

.login-button-generic{
    background-color: var(--mainColor);
    color:  white;
    border-radius: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    width: 100%;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.login-link-button-generic {
    text-decoration: underline;
    background-color: var(--mainColor);
    color:  white;
    border-radius: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    font-size: 14px;
    width: 80%;
}

.forgot-button-generic {
    margin-top: 10px;
    color: white;
    background: none;
    border: none;
    width: 120px;
    margin-left: 65%;
    margin-right: 35%;

}

.login-button-generic:hover, 
.login-link-button-generic:hover,
.forgot-button-generic:hover{
    color: rgb(168, 203, 220);
}

@media only screen and (max-width: 600px){
    .login-box {
        width: 80%;
    }

    .login-link-button-generic{
        width: 80%;
    }

    .forgot-button-generic{
        margin-left: auto;
        margin-right: auto;
    }
}
