* {
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
    --mainColor: #8A9FB5;
    --mainColorLight: #90B6E4;
    --secondaryColor: #2D3D4E;
    --textColor: #304459;
}

h3{
    font-weight: bold;
    font-size: 24px;
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 1rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

nav a {
    color: var(--textColor);
    text-decoration: none;
    font-size: 18px;
}

.nav-setting-btn {
    padding-right: 1.5rem;
}

.nav-music-btn{
    margin: 0 1rem;
	color: var(--textColor);
	text-decoration: none;
    font-size: 18px;
    border: none;
    padding: 10px;
    padding-top: 15px;
    background-color: var(--mainColor);
}

nav{
    display: flex;
	align-items: center;
    margin-left: 64%;
}


nav a:hover{
    color: var(--secondaryColor);
}

.navbar-header .nav-button-generic{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8em;
}

.nav-logout-btn {
    border: 2px solid #90B6E4;
    border-radius: 10px;
    padding: 10px;
    background-color:#2D3D4E;
    color: aliceblue;
    font-size: 16px;
}

@media only screen and (max-width: 1350px) {
    .navbar-header .nav-button-generic {
        visibility: visible;
        opacity: 1;
    }

    .navbar-header nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
    }

    .navbar-header .responsive_nav {
        transform: translateY(100vh);
    }

    nav .nav-close-button-generic {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    }

    nav{
        margin: 0;
    }

    .nav-music-btn {
        font-size: 22px;
    }

    .nav-setting-btn {
        padding: 0;
    }
}