.register-box {
    text-align: center;
    border: 1px solid var(--mainColor);
    padding: 20px;
    background-color: var(--secondaryColor);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px; 
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.register-button-generic{
    background-color: var(--mainColor);
    color:  white;
    border-radius: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.register-link-button-generic{
    text-decoration: underline;
    background-color: var(--mainColor);
    color:  white;
    border-radius: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

@media only screen and (max-width: 600px){
    .register-box {
        width: 80%;
        margin-bottom: 50px;
    }
}
