.register-box {
    text-align: center;
    border: 1px solid #363949;
    padding: 20px;
    background-color: #2d3d4e;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 500px; 
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

h2{
    font-size: 24px;
    font-weight: bold;
}

label {
    text-align: left;
}

input {
    margin: 0.5rem 0;
    color: #2d3d4e;
}

.register-btn{
    background-color: #90B6E4;
    color:  white;
    border-radius: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.register-link-btn{
    text-decoration: underline;
    background-color: #90B6E4;
    color:  white;
    border-radius: 10px;
    padding: 20px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}
