.task-background {
  background-color: #ebf6be;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 100vh;
}

.task-container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1.5px solid #1c2f20;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
  }
  
  .task-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .add-task {
    margin-bottom: 45px;
  }
  
  .form-input {
    margin: 20px 0;
  }
  
  .form-input label {
    display: block;
  }
  
  .form-msg p{
    font-weight: bold;
    color: red;
    text-align: center;
  }

  .form-input input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
  
  .form-input textarea {
    width: 100%;
    height: 100px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
  }

  .button-add-task-submit {
    width: 75%;
    padding: 5px;
  }

  .button-add-task-submit:active {
    transform: scale(0.95);
  }
  
  .task {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    text-align: left;
  }
  
  .task div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .task button {
    border-style: none;
    background-color: inherit;
    cursor: pointer;
  }

  .task .complete-btn {
    color: green;
  }

  .task .delete-btn {
    color: red;
  }


@media only screen and (max-width: 600px){
  .task-background  {
    width: 100%;
  }

}