.Tracker {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	width: 40%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px;
	box-sizing: border-box;
}

.tracker-container {
	background-color: #ebf6be;
}

.tasks-section ul,
.add-task-section ul {
	list-style-type: none;
	padding: 0;
	background-color: green;
	border-radius: 5px;
	padding: 10px;
}

.tasks-section li,
.add-task-section li {
	background-color: white;
	margin-bottom: 10px;
	padding: 5px;
	border-radius: 10px;
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.tracker-add-btn {
	padding: 10px 20px;
	background-color: darkgray;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
}
