.Tracker {
	background-color: #ebf6be;
}

.tracker-task-list {
	max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
	max-height: 400px;
    border: 1.5px solid #1c2f20;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.chart-section {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

@media only screen and (max-width: 600px){
	.tracker  {
	  width: 100%;
	}

}