.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.not-login-tracker-text{
  text-align: center;
  font-size: 30px;
  margin: 20px;
  margin-bottom: -30px;
}

.setting-btn-icon, .setting-btn-generic{
  float: left;
}

.setting-btn-icon{
  padding: 1px;
  padding-right: 5px;
}

.setting-btn-generic{
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  font-size: 16px;
  position: absolute;
  right: 8.5%;
  margin-top: 20px;
  background: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
