:root{
  --mainColor: #689A5f;
  --mainColorLight: #99B899;
  --secondaryColor: #5A785E;
  --textColor: #3A4C3E;
}

body{
  background-color: #ebf6be;
  background-image: url(background.svg);
}

.inner-container {
  background-color: #ebf6be;
  width: 500px;
}

.not-login-tracker-text{
  text-align: center;
  font-size: 30px;
  margin: 20px;
  margin-bottom: -30px;
}

@media only screen and (max-width: 600px){
  .not-login-tracker-text {
    font-size: 20px;
  }

  body{
    background: none;
    background-color: #ebf6be;;
  }

  .outer-container {
    background-color: #ebf6be;
  }

}

